snippet \left( "left round bracket" i
\left( $1 \right) $0
endsnippet

snippet \left[ "left bracket" i
\left[ $1 \right] $0
endsnippet

snippet \left{ "left curly bracket" i
\left\lbrace $1 \right\rbrace $0
endsnippet


