snippet \eq "Equation"
\begin{equation$1}
	\label{$2}
	$3
\end{equation$1}
$0
endsnippet	

snippet \align "Align" 
\begin{align$1}
	$2
\end{align$1}
endsnippet

snippet \frac "Fraction"
\frac{$1}{$2}$0
endsnippet

snippet \Int "Integral"
\Int{$1}{$2}{$3}{$4}$0
endsnippet

snippet \Sum "Sum"
\Sum{$1}{$2}$0
endsnippet

